.agentData{
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: space-between;
}
.data1,.data2,.data3{
    width: 32%;
    height: 100%;
    color: #FFF;
    position: relative;
}
.data1{
    background-color: #ff9a2a;
    text-align:center;
}
.data2{
    background-color: #7fbc39;
    text-align:center;
}
.data3{
    background-color: #fff;
    color: black;
    display: flex;
}
.info{
    width: 33.3%;
    height: 100%;
    text-align: center;
    font-weight : bold;
}
.upName{
    height: 44px;
    line-height: 44px;
    font-size: 12px;
}
.downData{
    height: 100px;
    line-height: 100px;
    font-size: 20px;
}
.name{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    left: 2%;
    top:2%;
}
.number{
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    right: 4%;
    bottom:2%;
}
.agentTab{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.agentTable{
    width: 100%;
    height: calc(100% - 224px);
}
.agentInfo{
    height: 100px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.os_ico{
    width: 100px;
    height: 100%;
    line-height:100px;
    text-align: center;
}
.os_info{
    width: calc(100% - 120px);
    height: 100%;
}
.up_info,.down_info{
    width: 100%;
    height: 50%;
    font-size: 14px;
    display: flex;
}
.os_name{
    width: 40%;
    height: 100%;
}
.os_name > span{
    font-weight: bold;
    color: #00b4cf;
}
.os_name_ico{
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.os_state_build{
    width:10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;

}
.os_state_build > div{
    font-size: 10px;
    height: 14px;
    color: #FFFFFF;
    padding: 0 5px 0 5px;

}
.osStateIdle{
    background-color: #7fbc39;
}
.osStateBuild{
    background-color: #ff9a2a;
}
.os_ip{
    width: 25%;
    height: 100%;
}
.os_location{
    width: 25%;
    height: 100%;
}
.os_resource{
    display: flex;
    align-items: center;
    width: 85%;
}
.os_list,.os_deny{
    height: 30px;
    padding: 0 8px;
    background-color: #efefef;
    margin: 0 5px;
    display: flex;
    align-items: center;
}
.os_list > img{
    cursor: pointer;
    margin-left: 5px;
}
.os_list > span{
    color: #2D4054;
}
.os_deny_state{
    display: flex;
    align-items: center;
}
.os_deny{
    background-color: #00b4cf;
    color: #FFFFFF;
}
.os_deny > span {
    margin: 0 10px;
}


/*齿轮旋转 start*/
@keyframes rotating{
    from{transform:rotate(0)}
    to{transform:rotate(360deg)}
}
.buildState{
    height: 100%;
    opacity: 0.15;
    animation:rotating 2s linear infinite
}
.idleState{
    height: 100%;
    opacity: 0.15;
}
/*齿轮旋转 end*/

.addButton {
    background-color:#00b4cf;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:18px;
    font-weight:bold;
    padding:3px 8px;
    text-decoration:none;
}
.addButton:hover {
    background-color:#01869a;
}
.addButton:active {
    position:relative;
    top:1px;
}
/*tab*/
.osTab{
    width: 30%;
    height: 100%;
}

/*模态框*/
.myModal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-dialog{
    padding: 10px;
    width: 570px;
    max-height: 200px;
    background-color:#fff;
    border: 1px solid #00b4cf;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
}
.modal-header{
    width: 100%;
    height:30px;
    line-height: 30px;
}
.modal-header > img{
    float:right;
}
.modal-title{
    font-size:14px;
}
.modal-body{
    width: 100%;
    height:50px;
}
.modal-body > input{
    width: 100%;
    height: 24px;
}
.modal-footer{
    width: 100%;
    height: 30px;
}
.add_resouce{
    font-size:14px;
    font-weight: normal;
}
.cancel{
    font-size:14px;
    font-weight: normal;
    background-color: #435466;
}
.cancel:hover{
    background-color:#2d4054;
}