<div style="height: 100%;" ng-controller="agentController">
    <!--总体数据-->
    <div class="agentData">
        <div class="data1">
            <div class="name"><span>Building</span></div>
            <img class="buildState" src="client/global/img/agent/build.svg">
            <div class="number"><span>{{osHandle.buildNum}}</span></div>
        </div>
        <div class="data2">
            <div class="name"><span>Idle</span></div>
            <img class="idleState" src="client/global/img/agent/idle.svg">
            <div class="number"><span>{{osHandle.idleNum}}</span></div>
        </div>
        <div class="data3">
            <div class="info">
                <div class="upName">ALL</div>
                <div class="downData">{{osHandle.physicalNum + osHandle.virtualNum}}</div>
            </div>
            <div class="info">
                <div class="upName">PHYSICAL</div>
                <div class="downData">{{osHandle.physicalNum}}</div>
            </div>
            <div class="info">
                <div class="upName">VIRTUAL</div>
                <div class="downData">{{osHandle.virtualNum}}</div>
            </div>
        </div>
    </div>
    <!--tab-->
    <div class="agentTab">
        <div class="osTab">
            <ul class="menuTab">
                <li ng-class="{true:'selectedSlider',false:'unselectedSlider'}[osHandle.curSelectTab=='all']" ng-click="osHandle.queryOs('all')">All</li>
                <li ng-class="{true:'selectedSlider',false:'unselectedSlider'}[osHandle.curSelectTab=='physical']" ng-click="osHandle.queryOs('physical')">Physical</li>
                <li ng-class="{true:'selectedSlider',false:'unselectedSlider'}[osHandle.curSelectTab=='virtual']" ng-click="osHandle.queryOs('virtual')">Virtual</li>
            </ul>
        </div>

    </div>
    <!--内容项-->
    <div class="agentTable scrollList">
        <div class="agentInfo" ng-repeat="osItem in osHandle.osList track by osItem.id">
            <div class="os_ico">
                <img style="vertical-align: middle;" src="{{'client/global/img/agent/' + osItem.os + '.png'}}">
            </div>
            <div class="os_info">
                <div class="up_info">
                    <div class="os_name">
                        <div class="os_name_ico">
                            <img style="vertical-align: middle;" width="16px" src="client/global/img/agent/computer.png">
                        </div>
                        <span>{{osItem.name}}</span>
                    </div>
                    <div class="os_state_build" >
                        <div ng-class="{true:'osStateIdle',false:'osStateBuild'}[osItem.status == 'idle']">{{osItem.status}}</div>
                    </div>
                    <div class="os_ip">osItem
                        <div class="os_name_ico">
                            <img style="vertical-align: middle;" width="16px" src="client/global/img/agent/ip.png">
                        </div>
                        <span>{{osItem.ip}}</span>
                    </div>
                    <div class="os_location">
                        <div class="os_name_ico">
                            <img style="vertical-align: middle;" width="16px" src="client/global/img/agent/file.png">
                        </div>
                        <span>{{osItem.location}}</span>
                    </div>
                </div>
                <div class="down_info">
                    <div class="os_resource">
                        <a href="#" class="addButton" ng-click="osHandle.addResource(osItem)">+</a>
                        <div class="os_list" ng-repeat="osName in osItem.resources">
                            <span>{{osName}}</span>
                            <img src="client/global/img/agent/deleteBtn.png"  ng-click="osHandle.deleteOs(osItem,$index)">
                        </div>
                    </div>
                    <div class="os_deny_state" ng-show="osItem.status =='building'">
                        <div class="os_deny">
                            <img src="client/global/img/agent/denyBtn.png">
                            <span>Deny</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--模态框-->
    <div class="myModal" id="myModal">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-header">
                    <span class="modal-title" >separate multiple resource name with commas</span>
                    <img  ng-click="osHandle.close()" src="client/global/img/agent/close.png">
                </div>
                <div class="modal-body">
                    <input  type="text" autocomplete="off" class="form-control" ng-model="osHandle.reSource" placeholder="input value" />
                </div>
                <div class="modal-footer">
                    <a href="#" class="addButton add_resouce" ng-click="osHandle.sourceSubmit()">Add Resource</a>
                    <a href="#" class="addButton cancel" ng-click="osHandle.close()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



